*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 9rem 0 0 0;
    gap: 30px;
}

h3{
    font-size: 6rem;
}

.box{
    background-color: #21212b;
    color: #fff;
    width: 120px;
    padding: 22px 14px;
    border-radius: 12px;
    text-align: center;
    line-height: 30px;
    border-bottom: 12px solid #0fd094;
}

p{
    font-size: 13px;
    color: #83838f;
}

.icon{
    font-size: 17px;
}